body {
  direction: rtl;
  unicode-bidi: embed;
}

a.toggle-button {
	right: auto;
	left: 8px; /* RTL */
}
.simple-map iframe, .simple-map embed {
	left: 0; /* RTL */
	right: 0; /* RTL */
}
.homepage-menu a:after {
	right: auto;
	left: 2%; /* RTL */
}
h3.search-heading.page-heading {
	text-align: right; /* RTL */
}
.search li a:after {
	margin-left: 0px;
	margin-right: 5px; /* RTL */
}
h3#responses {
	padding-left: 0px;
	padding-right: 15px; /* RTL */
}
h3#responses:before {
	margin-right: 0px;
	margin-left: 5px; /* RTL */
}
.comment-top {
	padding-left: 0px;
	padding-right: 10px; /* RTL */
}
.comment img.avatar {
	margin-right: 0px;
	float: right; /* RTL */
	margin-left: 8px; /* RTL */
}
#respond {
	margin-right: 10px; /* RTL */
	margin-left: 10px; /* RTL */
}
.back-to-top:before {
	padding-right: 0px;
	padding-left: 5px; /* RTL */
}

.homepage-menu a:after {
	content: '\e810';
}
.rtl .menu-tree li.menu-item a {
	padding-right: 5px;
}


.related-posts li.has-thumb a, .related-posts .has-thumb p {
	padding-right: 65px;
	padding-left: 0;
}

.related-posts img {
	right: 0;
}

.loop-link .date-circle {
	float: right;
}
