/* CSS Document */
/***************Top Margin *******************/
.logo h1 { padding-bottom:20px;	
}

.logo h1 { padding-top:20px;	
}

/*******************BG Image*******************/ 
body { 
 
    background-repeat:repeat; 
    background-position:center top; 
    } 
/*******************BG Color*******************/ 
body { 
background-color: #fff;}

/*******************Layout Mode*******************/ 




/****************Button Colors***********************/

.button:hover, a.button:hover, span.more-link:hover, .cancel-reply p a:hover {
		   
background:#333333!important;	
color:#fff;
}

.button, a.button, span.more-link, #footer .button, #footer a.button, #footer span.more-link, .cancel-reply p a {
		   
background:#208ae6;	
color:#fff;
}
.summary, .rating.stars, .rating.points, .rating.percent, .scorebar, 
.categories a:hover, .tagcloud a, .single .categories a, .single .sidebar .categories a:hover, 
.tabswrap ul.tabs li a.active, .tabswrap ul.tabs li a:hover, #footer .tabswrap ul.tabs li a:hover, #footer .tabswrap ul.tabs li a.active, .sf-menu li a:hover, .sf-menu li.sfHover a, 
.pagination a.button.share:hover, #commentsubmit #submit, #cancel-comment-reply-link  {
background:#208ae6;	
color:#fff !important;
}

blockquote, .tabswrap .tabpost a:hover, .articleinner h2 a:hover, span.date a:hover {
color:#208ae6 !important;	
}

h3.pagetitle, h1.pagetitle, .pagetitlewrap span.description {
border-color:#208ae6;	
}

/****************Link Colors***********************/
p a, a {
color:#208ae6;	
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, p a:hover, 
#footer h1 a:hover, #footer h2 a:hover, #footer h3 a:hover, #footer h3 a:hover, #footer h4 a:hover, #footer h5 a:hover, a:hover, #footer a:hover, .blogpost h2 a:hover, .blogpost .smalldetails a:hover {
color:#208ae6;	
}

/****************Selection Colors***********************/
::-moz-selection {
background:#208ae6; color:#fff;	
}

::selection {
background:#208ae6; color:#fff;	
}

::selection {
background:#208ae6; color:#fff;	
}

.recent-project:hover {
border-color:#208ae6 !important;	
}
/***************Typographic User Values *********************************/

h1, h2, h1 a, h2 a, .blogpost h2 a, h3, .ag_projects_widget h3, h3 a, .aj_projects_widget h3 a, .ajax-select ul.sf-menu a, .pagination .button, .nivo-caption h3.title {
font-family:"Bitter", arial, sans-serif;font-weight:normal;text-transform:none;}

h5, h5 a, .widget h3, .widget h2, .widget h4, .reviewbox h4, .reviewbox .score span, .ajax-select a#news_select, .authorposts h4, h4.widget-title {  
font-family:"PT Sans Narrow", arial, sans-serif;font-weight: bold;text-transform:uppercase !important;}

h4, h4 a, .footer .note h4, .footer h4.subheadline, .newspost h4, .paginationbutton .button, .articleinner h2.indextitle, .widget .articleinner h2.indextitle, .articleinner h2.indextitle a, .widget artileinner h2.indextitle a {
font-family:"Bitter", arial, sans-serif;;font-weight:normal;text-transform:none !important;}

.sf-menu a, .ajax-select ul.sf-menu li li a  {
font-family:"Droid Sans", arial, sans-serif;font-weight: bold;text-transform:none;font-size:13px;
}

body, input, p, ul, ol, .button, .ui-tabs-vertical .ui-tabs-nav li a span.text,
.footer p, .footer ul, .footer ol, .footer.button, .credits p,
.credits ul, .credits ol, .credits.button, .footer textarea, .footer input, .testimonial p, 
.contactsubmit label, .contactsubmit input[type=text], .contactsubmit textarea, h2 span.date, .articleinner h1,
.articleinner h2, .articleinner h3, .articleinner h4, .articleinner h5, .articleinner h6, .nivo-caption h1,
.nivo-caption h2, .nivo-caption h3, .nivo-caption h4, .nivo-caption h5, .nivo-caption h6, .nivo-caption h1 a,
.nivo-caption h2 a, .nivo-caption h3 a, .nivo-caption h4 a, .nivo-caption h5 a, .nivo-caption h6 a,
#cancel-comment-reply-link {
font-family:"Droid Serif", arial, sans-serif;font-weight:normal;text-transform:none;}


		.sidebar {
		width: 300px;
		}
		.maincontent {
		width: 624px;
		}
		.one_col {
		width: 296px;
		}
		#isonormal {
		width: 652px;
		}
		.fullarticle .thumbnailarea {
			width:304px;
		}
		.fullcontent {
			width:300px;
		}

		/*  Portrait size to standard 960 (devices and browsers) */
		@media only screen and (min-width: 768px) and (max-width: 959px) {

		.articlecontainer.nonfeatured, .maincontent {
		width: 423px;
		}
		.nonfeatured .one_col {
		width: 420px;
		}
		#isonormal {
		width: 445px;
		}
		.fullcontent {
		width: 100%;
		}
		#fullcolumn .thumbnailarea {
		width: 420px;
		}
		}

		/* All Mobile Sizes (devices and browser) */
		@media only screen and (max-width: 767px) {
		.maincontent, .sidebar, .fullcontent, #fullcolumn .thumbnailarea {
		width:100%;
		}
		#isonormal {
		width: 436px;
		}

		}

		@media only screen and (max-width: 479px) {	     
		 #isonormal {
	         width:300px;
	     }
		}